body 
{
    background-color: rgb(197, 113, 230);
}

h2 
{
    background-color: rgb(97, 109, 237);
}

h2
{
    background-color: rgb(235, 102, 218);
}

p
{
    font-family:Georgia, 'Times New Roman', Times, serif;
}



