p{
    color: rgb(231, 41, 72);
}

.p1{
    color: rgb(76, 106, 19);
}

.p2{
    color: rgb(58, 181, 219);
}


#pt{
    color: rgb(219, 80, 168);
}

div h4{
    background-color:rgb(228, 38, 70);
}

h1, h2, h3{
    color: rgb(18, 69, 142);
}

a:hover{
    color: rgb(196, 36, 36);
}

input[type="button"]:active {
    background-color: rgb(150, 205, 48);
    color: rgb(171, 43, 56);
}

ul li:first-child {
    color: rgb(115, 108, 245);
    font-weight: bold;
}

ul li:nth-child(2) {
    color: #f10e65;
}

input:focus {
    background-color:rgb(63, 201, 216);
}