p{
    background-color: rgb(231, 41, 72);
}

.p1{
    background-color: rgb(76, 106, 19);
}

.p2{
    background-color: rgb(58, 181, 219);
}


#pt{
    background-color: rgb(219, 80, 168);
}

div h4{
    color:rgb(228, 38, 70);
}

h1, h2, h3{
    background-color: rgb(18, 69, 142);
}


